/* practicing id selector */

#heading-1 {
    background-color: black;
    color: deeppink;
    /* normally h1 tag is block level element, so making it inline level element */
    display: inline;
}

#paragraph-1 {
    background-color: antiquewhite;
    color: deepskyblue;
    font-weight: 600;
    /* giving some space between content and border using padding */
    padding: 20px;
}


/* practicing attribute selector */
/* selecting all classes inside <li> tag without a particular class name */

li[class] {
    color: orangered;
    font-size: xx-large;
    list-style-type: circle;
}


/* selecting a particular class */

li[class="a"] {
    color: yellow;
    background-color: black;
}


/* selecting class which is just starting with letter b using approx symbol (~)  */

li[class~="b"] {
    font-style: italic;
    color: blue;
}