
/* CSS BOX MODEL PRACTISE */
.box-model {
    width: 300px;
    height: 50px;
    padding: 20px;
    border: 1px solid red;
    margin: 20px;
}

.inheritence {
    color: orange;
    font-family: fantasy;
    font-size: 30px;
}

/* Css design for table */

th, td {
    /* border: 1px solid rgb(236, 7, 129); */
    /* border-top: 1px solid greenyellow; */
    border-bottom: 1px solid orangered;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

td {
    text-align: center;
    /* height: 50px;
    vertical-align: bottom; */
}



/* display */

.content-1 {
     /* div tag is already block level element, hence making it inline element */
     border: 1px solid red;
     display: inline;
}

.content-2 {
    border: 1px solid blue;
    /* span tag is already inline element, hence making it block level element */
    display: block;
    /* display: none; */
}



/* position */

.position-1 {
    border: 1px solid red;
    /* position: static; */
    /* position: relative; */
    position: sticky;
    top: 50px;
    left: 50px;
}

.position-2 {
    border: 1px solid blue;
    /* position: fixed; */
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container {
    border: 1px solid black;
    position: relative;
    width: 200px;
    height: 500px;
}